
.ant-form-item-label {
  line-height: 36px;
  font-weight: bold;
}

.ant-input {
  border-width: 0 0 1px 0;
}

.ant-btn {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.ant-btn-icon-only {
  border-color: #ff9f00;
  border-width: 2px;
  font-size: 20px;
}

.ant-btn-icon-only.ant-btn-lg {
  font-size: 24px;
}

.ant-btn-icon-only.ant-btn-sm {
  font-size: 14px;
}

.ant-btn-icon-only.ant-btn-primary {
  color: #fff;
  border: none;
}

.ant-layout-header {
  background-color: white;
  padding: 0;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 0px 2px 0px;
  line-height: 71px;
}

.ant-layout-header .notification-icon {
  margin: auto;
  width: 100%;
  text-align: center;
  size: 28px;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px;
}

.ant-layout-header .logo {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px 0px 0px;
}

.ant-layout-header .logo .logo-image {
  width: 35%;
  height: 35%;
}

.ant-layout-header .action-bar {
  margin: 0px 30px;
  vertical-align: middle;
}

.ant-layout-header .action-bar .action-button-group {
  text-align: right;
  vertical-align: middle;
}

.ant-layout-content {
  background-color: white;
}