
.ant-form-item-label {
  line-height: 36px;
  font-weight: bold;
}

.ant-input {
  border-width: 0 0 1px 0;
}

.ant-btn {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.ant-btn-icon-only {
  border-color: #ff9f00;
  border-width: 2px;
  font-size: 20px;
}

.ant-btn-icon-only.ant-btn-lg {
  font-size: 24px;
}

.ant-btn-icon-only.ant-btn-sm {
  font-size: 14px;
}

.ant-btn-icon-only.ant-btn-primary {
  color: #fff;
  border: none;
}

.ant-layout-header {
  background-color: white;
  padding: 0;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 0px 2px 0px;
  min-height: 75px;
}

.ant-layout-header .logo {
  width: 100%;
  text-align: center;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px 0px 0px;
  min-height: 75px;
  min-width: 75px;
}

.ant-layout-header .logo-image {
  width: 50px;
  height: 50px;
}

.ant-layout-header .action-bar {
  margin: 0px 30px;
  vertical-align: middle;
}

.ant-layout-header .action-bar .action-button-group {
  text-align: right;
  vertical-align: middle;
}

.ant-layout-header .notifications {
  margin: auto;
  width: 100%;
  text-align: center;
  size: 28px;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px;
  min-height: 75px;
  min-width: 75px;
}

.ant-layout-header .account-details {
  padding: 0px 20px;
}

.ant-layout-header .account-details .user-image {
  margin-left: -10px;
}

.ant-layout-header .account-details .user-name {
  text-align: center;
}

.ant-layout-content {
  background-color: white;
}

img.rounded-image {
  border-radius: 50%;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.ant-layout .page-header-row {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 50px 0px;
}

.ant-layout .page-header-row h1 {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.ant-input {
  border-width: 1px;
}

.patient-card-wrapper {
  min-width: 600px;
}

.patient-card-wrapper .patient-details-card {
  border: solid black;
  border-width: 1px;
}

.patient-card-wrapper  .patient-details-card .primary {
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px 0px 0px;
  min-width: 140px;
}

.patient-card-wrapper .patient-details-card .primary .image {
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 0px 2px 0px;
  min-height: 150px;
  margin-top: 10px;
}

.patient-card-wrapper .patient-details-card .primary .image .column {
  width: 100%;
  text-align: center;
}

.patient-card-wrapper .patient-details-card .primary .name {
  font-weight: bold;
  margin-top: 10px;
}

.patient-card-wrapper .patient-details-card .primary .dob {
  min-height: 90px;
}

.patient-card-wrapper .patient-details-card .primary .dob .column {
  width: 100%;
}

.patient-card-wrapper .patient-details-card .secondary {
  min-width: 140px;
}

.patient-card-wrapper .patient-details-card .information-title {
  font-weight: bold;
  color: #b1b1b1;
}

.patient-card-wrapper .patient-details-card .information-details {
  font-weight: bold;
}

.patient-card-wrapper .patient-details-card .information-wrapper {
  height: 100%;
  padding: 35px;
}

.patient-card-wrapper .patient-details-card .information-wrapper .details {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.form-button-row {
  margin: 50px 0px;
}
