
.ant-form-item-label {
  line-height: 36px;
  font-weight: bold;
}

.ant-input {
  border-width: 0 0 1px 0;
}

.ant-input:hover {
  border-right-width: 0px !important;
}

.ant-input:focus {
  border-width: 1px !important;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-right-width: 0px !important;
}

.ant-input-affix-wrapper:hover .ant-input:focus {
  border-right-width: 1px !important;
}

.ant-btn {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.ant-btn-icon-only {
  border-color: #ff9f00;
  border-width: 2px;
  font-size: 20px;
}

.ant-btn-icon-only.ant-btn-lg {
  font-size: 24px;
}

.ant-btn-icon-only.ant-btn-sm {
  font-size: 14px;
}

.ant-btn-icon-only.ant-btn-primary {
  color: #fff;
  border: none;
}

.ant-layout-header {
  background-color: white;
  padding: 0;
  min-height: 75px;
  box-shadow: 0px 0px 5px 1px #00000024;
  z-index: 5;
}

.ant-layout-header .logo {
  text-align: center;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px 0px 0px;
  min-height: 75px;
  min-width: 75px;
}

.ant-layout-header .action-bar {
  width: 100%;
  margin: 0px 10px;
  vertical-align: middle;
}

.ant-layout-header .notifications {
  width: 75px;
  text-align: center;
  size: 28px;
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px;
  min-height: 75px;
  min-width: 75px;
}

.ant-layout-header .account-details {
  padding: 0px 15px;
  margin: 0px 10px;
  width: 275px;
}

.ant-layout-header .account-details .user-name {
  text-align: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-direction-column {
  flex-direction: column;
}

.ant-layout {
  background: #fff
}

.ant-layout .page-header-row {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 0px 0px;
}

.ant-layout .page-header-row h1 {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.patient-card-wrapper {
  min-width: 600px;
  margin: 20px 0px 0px 0px;
  max-width: 800px;
}

.patient-card-wrapper .patient-details-card {
  border: solid black;
  border-width: 1px;
}

.patient-card-wrapper  .patient-details-card .primary {
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 2px 0px 0px;
  min-width: 140px;
}

.patient-card-wrapper .patient-details-card .primary .image {
  border: solid rgba(0, 0, 0, .1);
  border-width: 0px 0px 2px 0px;
  min-height: 150px;
  margin-top: 10px;
}

.patient-card-wrapper .patient-details-card .primary .image .column {
  width: 100%;
  text-align: center;
}

.patient-card-wrapper .patient-details-card .primary .name {
  font-weight: bold;
  margin-top: 10px;
}

.patient-card-wrapper .patient-details-card .primary .dob {
  min-height: 90px;
}

.patient-card-wrapper .patient-details-card .primary .dob .column {
  width: 100%;
}

.patient-card-wrapper .patient-details-card .secondary {
  min-width: 140px;
}

.patient-card-wrapper .patient-details-card .information-title {
  font-weight: bold;
  /* color: #b1b1b1; */
  color: #ff9f00;
}

.patient-card-wrapper .patient-details-card .information-details {
  font-weight: bold;
}

.patient-card-wrapper .patient-details-card .information-wrapper {
  height: 100%;
  padding: 35px;
}

.patient-card-wrapper .patient-details-card .information-wrapper .details {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.form-button-row {
  margin: 50px 0px;
}

.dob-wrapper {
  justify-content: space-between
}

.full-height {
  height: 100%;
}