@import url('./fonts/fonts.css');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-form-item-label {
  line-height: 36px;
  font-weight: bold;
}

.ant-input {
  border-width: 0 0 1px 0;
}

.ant-btn {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.ant-btn-icon-only {
  border-color: #ff9f00;
  border-width: 2px;
  font-size: 20px;
}

.ant-btn-icon-only.ant-btn-lg {
  font-size: 24px;
}

.ant-btn-icon-only.ant-btn-sm {
  font-size: 14px;
}

.ant-btn-icon-only.ant-btn-primary {
  color: #fff;
  border: none;
}